.zoneHero {
  position: relative;
  z-index: -1; 
  width: 100%;
  min-height: 253px;
  max-height: 962px;
  height: 100vh; /* Ajuste la hauteur en fonction de l'écran */
  overflow: hidden; /* Cache les débordements */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Classe pour l'image en background */
.random-photo-background {
  background-size: cover; /* Couvre toute la zone */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Prend 100% de la hauteur définie par .zoneHero */
}

  
  .textHero {
    position: absolute;
    z-index: 0;
  }
  
  .textHero p {
    text-align: center;
    font-family: 'SpaceMono';
    font-size: 96px;
    font-weight: bold;
    font-style: italic;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke:2px white;
    color: white; /* Couleur du texte pour les navigateurs ne prenant pas en charge webkit (ie) */
    margin-left: 60px;
    margin-right: 60px;
  }

.filters-wrapper {
  width: 1124px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-top: 95px;
  padding-bottom: 35px;
}

.filters-wrapper div select {
  width: 260px;
  height: 43px;
  margin-right: 25px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--secondary-light-color);
}

.filters-wrapper select {
  width: 260px;
  height: 43px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--secondary-light-color);
}

.image-gallery-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-gallery {
  width: 1148px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-gallery div {
  width: 48%;
  height: 495px;
  padding: 10px;
}

.load-more-photos {
  display: flex;
  justify-content: center;
}

.load-more-photos button {
  border: none;
  width: 272px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: var(--grey-medium);
  font-family: 'SpaceMono';
}

.load-more-photos button:hover {
  color: white;
  background-color: var(--secondary-normal-color);
  cursor: pointer;
}


  @media (max-width: 1024px) {
    .textHero p {
        font-size: 62px;
    }
}

  @media (max-width: 768px) {
    .textHero p {
        font-size: 36px;
        -webkit-text-stroke:1.3px #fff;
    }
}