main {
    margin-top: 35px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
}

.photoContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
}

.photoContent01 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: inherit;
}

.photoContent01 div {
    width: 50%;
    overflow: hidden;
}

.photoContent01 div h2 {
    width: 50%;
}

.photoContent01-text {
    align-content: flex-end;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--secondary-normal-color);
}

.photoContent01-text p {
    line-height: 250%;
}

.contentImage {
    width: 100%;
	height: 100%;
	object-fit: cover;
}

.photoContent02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    height: 118px;
    border-bottom: 1px solid var(--secondary-normal-color);
}

.photoContent02 div {
    width: 50%;
}

.photoContent02-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photoContent02-contact button {
    width: 272px;
    height: 50px;
    border:none;
    background-color: var(--grey-medium);
    font-family: 'SpaceMono';
}
.photoContent02-contact button:hover {
    color: white;
    background-color: var(--secondary-normal-color);
    cursor: pointer;
}

.photoContent02-nav {
    display: flex;
    justify-content: flex-end;
    height: 118px;
}

/* Structure de navigation */
.navigation-wrapper {
    display: flex;
    width: 81px;
    height: 118px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Styles des flèches */
.nav-arrow {
    font-size: 2rem;
    text-decoration: none;
    color: var(--secondary-normal-color);
    cursor: pointer;
}

/* Les prévisualisations sont masquées par défaut */
.preview-image {
    display: none;
}

.preview-image img {
    width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Position des images */
.nav-prev .preview-image {
    width: 81px;
    height: 71px;
    top: 6px;
}

.nav-next .preview-image {
    width: 81px;
    height: 71px;
    top: 6px;
}

.navigation-wrapper .nav-prev {
    width: 40px;
}

.navigation-wrapper .nav-next {
    width: 40px;
    align-items: flex-end;
}

/* Afficher l'image au survol */
.nav-item:hover .preview-image {
    display: block;
}