.degAfterHeader {
    height: 20px;
    background: linear-gradient(var(--grey-light), 5%, #ffffff);
}

main {
    margin-top: 15px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
}

.photoContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Évite tout débordement */
}

.photoContent01 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 100%;
}

.photoContent01 div {
    width: 50%;
}

.photoContent01-text {
    align-content: flex-end;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--secondary-normal-color);
}

.photoContent01-text p {
    line-height: 250%;
}

.photoContent01 div h2 {
    width: 50%;
}

.photoContent01-image {
    width: 100%; /* Remplit toute la largeur */
    height: 100%; /* Remplit toute la hauteur */
    overflow: hidden; /* Empêche les débordements */
    position: relative; /* Nécessaire pour des ajustements internes éventuels */
}

.contentImage {
    width: 100%; /* Remplit toujours toute la largeur du parent */
    height: 100%; /* Remplit toujours toute la hauteur du parent */
    object-fit: cover; /* Remplit l'espace tout en coupant l'excédent si nécessaire */
    object-position: center; /* Centre l'image pour un rendu harmonieux */
}

.photoContent02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    height: 118px;
    border-bottom: 1px solid var(--secondary-normal-color);
}

.photoContent02 div {
    width: 50%;
}

.photoContent02-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photoContent02-contact button {
    width: 272px;
    height: 50px;
    border:none;
    background-color: var(--grey-medium);
    font-family: 'SpaceMono';
}
.photoContent02-contact button:hover {
    color: white;
    background-color: var(--secondary-normal-color);
    cursor: pointer;
}

.photoContent02-nav {
    display: flex;
    justify-content: flex-end;
    height: 118px;
}

/* Structure de navigation */
.navigation-wrapper {
    display: flex;
    width: 81px;
    height: 118px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

/* Styles des flèches */
.nav-arrow {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--secondary-normal-color);
    cursor: pointer;
    bottom: 8px;
    position: relative;
}


/* Les prévisualisations sont masquées par défaut */
.preview-image {
    display: none;
    position: absolute;
}

.preview-image img {
    width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Position des images */
.nav-prev .preview-image {
    width: 81px;
    height: 71px;
    top: 6px;
}

.nav-next .preview-image {
    width: 81px;
    height: 71px;
    top: 6px;
}

.navigation-wrapper .nav-prev {
    width: 40px;
}

.navigation-wrapper .nav-next {
    width: 40px;
    align-items: flex-end;
}

/* Afficher l'image au survol */
.nav-item:hover .preview-image {
    display: block;
}


.photoRelated div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 45px;
}

.photoRelated h3 {
    margin-top: 65px;
}

.photoRelated div div {
    width: 50%;
    height: 495px;
}

.imageBlockPhoto {
    width: 100%;
	height: 100%;
    object-fit: cover;
}





@media (max-width: 1224px) {
    .photoContent02-contact button {
        width: 152px;
    }
    .photoContent {
        z-index: -1;
    }
}

@media (max-width: 1024px) {
    .photoContent01 , .photoContent02 {
        flex-direction: column-reverse;
    }
    .photoContent01 div {
        width: 100%;
    }
    .photoContent {
        height: 100%;
    }
    .photoContent02-nav {
        display: none;
    }
    .photoContent02 {
        align-items: flex-start;
        justify-content: center;
        height: 135px;
    }
    .photoContent02 div {
        width: 100%;
    }
    .photoContent02-contact {
        flex-direction: column;
        align-items: flex-start;
    }
    .photoContent02-contact button {
        width: 272px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .photoRelated div {
        flex-direction: column;
    }
    .photoRelated div div {
        width: 100%;
    }
    main {
        padding-left: 25px;
        padding-right: 25px;
    }
    .photoContent01 div h2 {
        font-size: 36px;
        padding-bottom: 15px;
    }
}