@import "header.css";
@import "footer.css";
@import "modal.css";



@font-face {
    font-family: 'SpaceMono';
    src: url(../fonts/SpaceMono-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'SpaceMono';
    src: url(../fonts/SpaceMono-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'SpaceMono';
    src: url(../fonts/SpaceMono-Bold.ttf) format("truetype");
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: 'SpaceMono';
    src: url(../fonts/SpaceMono-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Light.ttf) format("truetype");
    font-style: light;
    font-weight: 300;
}



:root {
    --primary-normal-color: #E00000;
    --primary-medium-color: #FE5858;
    --primary-light-color: #FFD6D6;
    --secondary-normal-color: #000000;
    --secondary-medium-color: #313144;
    --secondary-light-color: #C4C4C4;
    --grey-medium : #D8D8D8;
    --grey-light : #E5E5E5;
}

h1 {
    font-family: 'SpaceMono';
    font-weight: 700;
    font-style: italic;
    font-size: 96px;
    text-transform: uppercase;
    color: var(--secondary-normal-color);
}

h2 {
    font-family: 'SpaceMono';
    font-weight: 400;
    font-style: italic;
    font-size: 66px;
    text-transform: uppercase;
    color: var(--secondary-normal-color);
}

h3 {
    font-family: 'SpaceMono';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--secondary-normal-color);
}

p {
    font-family: 'SpaceMono';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: var(--secondary-normal-color);
}

.photosdescribe {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: light;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--secondary-normal-color);
}

body {
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le padding par défaut */
    width: 100%; /* Permet de s'adapter à la largeur de la fenêtre */
    max-width: 1440px; /* Limite la largeur maximale à 1440px */
    margin-left: auto; /* Centre horizontalement si plus petit que 1440px */
    margin-right: auto; /* Centre horizontalement si plus petit que 1440px */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}

